<!DOCTYPE html>
<html>
<head>
  <title>HOLLM</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <body>
    <div class="menu-nav">
        <nav class="nav-1">
            <ul>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Conocenos</a></li>
            </ul>
        </nav>
        <nav class="nav-2">
            <ul>
                <li><a href="/iniciar_sesion">Iniciar sesión</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </nav>
    </div>
    <div class="vista-inicio">
        <p>CLEANING CITIES</p>
        <img src="{{url_for('static',filename='img/imagen2.jpg')}}" alt="" / id="image-basura">
        <img src="{{url_for('static',filename='img/imagen1.jpg')}}" alt="" / id="image-recolect">
    </div>
    <div class="text-emotivo">
        <p>Por ti, por nosotros y por todos los que vendrán...</p>
    </div>
    
</body>
</body>
</html>
